<!DOCTYPE html>

<html>
    {% load static %}
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <title></title>
        <meta name="description" content="">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="stylesheet" href="{% static 'css/index.css'%}">
  
    </head>
    
    <body>
        <div class="container">
          
            <h1>Vantage Logger</h1>
            <form action="/addTodoItem/" method="post">{% csrf_token %}
                <input type="text" name="content">
                <input type="submit" value="Add Item">
            </form>
            <ul>
                {% for i in all_items %}
                    <li>{{i.content}}
                        <form action="/deleteTodoItem/{{i.id}}/" method = "post">{% csrf_token %}
                            <input type="submit" value="Delete">
                        </form>   
                    </li>
                {% endfor %}
            </ul>
            <form action='/emailTodoList/' method="post">
                {%csrf_token%}
                <label for="email">Email:</label>
                <input type="email" id="email" name="email">
                <input type="submit" value="Email Logs!">
            </form>
        </div>
        <script src="" async defer></script>
    </body>
</html>